#Ignora la carpeta node_modules
node_modules/

#Ignora la carpeta src
src/

#Ignora la carpeta vendor
vendor/

#Ignora base de datos
barberiaapp.sql

#Ignora 
gulpfile.js

#Ignora
package.jason
package-lock.jason

#Ignora archivos del sistema mac
.DS_Store

#Ignora archivos realacionados a API keys
.env

#Ignora todos los archivos de texto
*.txt

#Ignora archivos de configuración SASS
.sass-cache






